.btn-primary{
  @include primary-btn-1;
  &.with-icon{
    height: 46px;
    i{
      margin-right: 10px;
    }
  }
  &.yellow-btn{
    background: $yellow-50;
    color: $black-3A;
  }
  &.green-btn{
    background: $green-5A;
  }
}