
@font-face {
  font-family: 'Ballast';
  src: url('@/assets/fonts/Ballast.eot');
  src: url('@/assets/fonts/Ballast.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/Ballast.woff2') format('woff2'),
      url('@/assets/fonts/Ballast.woff') format('woff'),
      url('@/assets/fonts/Ballast.ttf') format('truetype'),
      url('@/assets/fonts/Ballast.svg#Ballast') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('@/assets/fonts/Pretendard-Regular.eot');
  src: url('@/assets/fonts/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/Pretendard-Regular.woff2') format('woff2'),
      url('@/assets/fonts/Pretendard-Regular.woff') format('woff'),
      url('@/assets/fonts/Pretendard-Regular.ttf') format('truetype'),
      url('@/assets/fonts/Pretendard-Regular.svg#Pretendard-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('@/assets/fonts/Pretendard-Bold.eot');
  src: url('@/assets/fonts/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/Pretendard-Bold.woff2') format('woff2'),
      url('@/assets/fonts/Pretendard-Bold.woff') format('woff'),
      url('@/assets/fonts/Pretendard-Bold.ttf') format('truetype'),
      url('@/assets/fonts/Pretendard-Bold.svg#Pretendard-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

