.form-group{
  margin-top: 24px;
  &:first-child{
      margin-top: 0;
  }
  label{
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: $black-33;
      margin-bottom: 10px;
      width: 100%;
      text-align: left;
      display: inline-block;
  }
  .input-group{
      .form-control{
          @include small-text;
          width: 100%;
          background: $white-1;
          border: 1px solid $grey-A4;
          border-radius: 5px;
          padding: 14px 20px;
          color: $black-33;
          &::placeholder{
              color: $grey-CF;
          }
      }
  }
}