.form-group {
  margin-bottom: 30px;
  .input-forms {
    border: 1px solid $black-3;
    width: 100%;
    border-radius: 8px;
    height: 50px;
    background: transparent;
    padding: 8px 16px;
    color: $white-1;
    &:active,
    :focus-visible {
      outline: 0px;
      border: 1px solid $black-3;
    }
    &::placeholder {
      color: $black-4;
    }
    &.invalid {
      border-color: $red;
    }
  }
  label {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 8px;
    display: inline-block;
  }
}
