.icon-search-black {
  background: url(../../assets/icons/icon-search-black.svg) no-repeat right center;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-arrow-down-solid {
  background: url(../../assets/icons/icon-arrow-down-solid.svg) no-repeat right center;
  background-size: auto 4px;
  height: 4px;
  width: 8px;
  display: inline-block;
}