.login-wrap{
    padding: 80px 0;
    .login-inner{
        padding: 70px 90px;
        background: $white-1;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        .login-heading{
            @include heading1;
        }
        form{
            margin-top: 60px;
            .form-links{
                @include flex-justify-between;
                margin-top: 30px;
                .form-links-left{
                    ul{
                        @include flex-align-center;
                        li{
                            &:before{
                                content: "I";
                                margin: 0 10px;
                                color: #A4A4A4;
                            }
                            &:first-child{
                                &::before{
                                    display: none;
                                }
                            }
                            a{
                                @include small-text
                            }
                        }
                    }
                }
                .form-link-right{
                    a{
                        @include small-text;
                        text-decoration: underline;
                        color: $green-68; 
                    }
                }
            }
            .btn-primary{
                margin-top: 22px;
            }
        }
        .getting-started{
            border-top: 1px solid #E0E0E0;
            padding-top: 30px;
            margin-top: 30px;
            button{
                &.green-btn{
                    margin-top: 10px;
                }
            }
        }
    }
}