.main-body{
    .my-choce-wrap{
        padding: 80px 0;
        .my-choice-heading{
            padding-bottom: 20px;
            border-bottom: 1px solid $grey-CF;
            h2{
                font-weight: bold;
                font-size: 40px;
                line-height: 40px;
                color: $purple-F4;
            }
        }
        .my-choice-list-wrap{
            .my-choice-list-outer{
                .my-choice-list-outer-item{
                    .list-heading{
                        font-weight: bold;
                        font-size: 22px;
                        line-height: 22px;
                        color: $grey-4c;
                        padding-bottom: 24px;
                        border-bottom: 1px solid $grey-CF;
                    }
                    .my-choice-list-inner{
                        .my-choice-list-inner-item{

                        }
                    }
                }
            }
        }
    }
}