.recomanded-blending-details {
  @include flex-start-between;
  width: 100%;
  padding: 120px 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 75px 0 75px 0;
  }

  .blending-left {
    width: calc(100% - 579px);
    position: relative;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    .swiper {
      position: relative;
      &.mySwiper {
        .swiper-wrapper {
          .swiper-slide {
            width: calc(100% - 112px);
            padding-left: 112px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            height: auto !important;
            @media screen and (max-width: 768px) {
              padding-left: 0;
              width: 100%;
            }
            img {
              height: 465px;
              width: 465px;
              border-radius: 230px 230px 0 0;
              @media screen and (max-width: 768px) {
                height: 343px;
                width: 100%;
                border-radius: 50% 50% 0 0;
              }
            }
          }
        }
      }

      &.mySwiper2 {
        height: 465px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 30px 0 35px;
        @media screen and (max-width: 768px) {
          position: relative;
          height: auto;
          padding-bottom: 50px;
        }
        .swiper-wrapper {
          width: auto;
          transform: none;
          display: flex;
          flex-direction: column;
          @media screen and (max-width: 768px) {
            flex-direction: row;
          }
          .swiper-slide {
            height: 80px;
            width: 81px !important;
            margin: 0 0 15px !important;
            @media screen and (max-width: 768px) {
              width: 62px!important;
              height: 62px;
              margin: 0 9px 0 0 !important;
            }

            img {
              width: 81px;
              height: 80px;
              @media screen and (max-width: 768px) {
                width: 62px;
                height: 62px;
              }
            }
          }
        }
      }
    }

    // .swiper{
    //     .swiper-pagination{
    //         width: auto;
    //         display: flex;
    //         flex-direction: column;
    //         margin: -8px 0;
    //         bottom: 0;
    //         @media screen and (max-width: 768px){
    //             flex-direction: row;
    //             justify-content: center;
    //             margin: 0 -8px;
    //             width: 100%;
    //             bottom: -90px;
    //         }
    //         span{
    //             height: 80px;
    //             width: 81px;
    //             margin: 8px 0;
    //             background: $white-1;
    //             @media screen and (max-width: 992px){
    //                 height: 60px;
    //                 width: 61px;
    //             }
    //             @media screen and (max-width: 768px){
    //                margin: 0 8px;
    //             }
    //             img{
    //                 height: 80px;
    //                 width: 81px;
    //                 background: $white-1;
    //                 @media screen and (max-width: 992px){
    //                     height: 60px;
    //                     width: 61px;
    //                 }
    //             }
    //         }
    //     }
    //     .swiper-wrapper{
    //         .swiper-slide{
    //             width: calc(100% - 112px);
    //             padding-left: 112px;
    //             height: 465px;
    //             display: flex;
    //             justify-content: flex-end;
    //             align-items: flex-end;
    //             @media screen and (max-width: 992px){
    //                 width: calc(100% - 90px);
    //                 padding-left: 90px;
    //             }
    //             @media screen and (max-width: 768px){
    //                 width: 100%;
    //                 padding-left: 0;
    //             }
    //             @media screen and (max-width: 580px){
    //                 height: 343px;
    //             }
    //             img{
    //                 height: 100%;
    //                 width: 100%;
    //                 border-radius: 230px 230px 0px 0px;
    //                 object-fit: cover;
    //                 @media screen and (max-width: 768px){
    //                     border-radius: 50% 50% 0px 0px;
    //                 }
    //                 @media screen and (max-width: 580px){
    //                     height: 343px;
    //                 }
    //             }
    //         }
    //     }
    // }
  }

  .blending-right {
    width: 100%;
    max-width: 499px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .right-heading {
      .login-icon {
        margin-bottom: 4px;
      }

      h2 {
        @include heading1;
        font-size: 42px;
        line-height: 50px;
        font-family: $Pretend-extrabold;
        color: $black-18;
        @media screen and (max-width: 768px) {
          font-weight: 800;
          font-size: 30px;
          line-height: 36px;
          color: $black-18;
        }
      }

      .blending-tag {
        @include flex-align-center;
        flex-wrap: wrap;
        margin: 20px -5px 20px;

        span {
          @include flex-justify-center;
          border: 1px solid $blue-E8;
          box-sizing: border-box;
          border-radius: 50px;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          color: $blue-E8;
          height: 24px;
          padding: 4px 10px;
          margin: 0 5px 10px;
        }
      }
    }

    .product-details-wrap {
      ul {
        margin-top: 10px;

        li {
          display: flex;
          align-items: flex-start;
          margin-top: 20px;

          &:first-child {
            margin-top: 0;
          }

          h2 {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: $grey-4C;
            width: 120px;
            margin-right: 15px;
            font-family: $Pretend-medium;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $grey-82;
            width: calc(100% - 102px);
            font-family: $default-font;
          }
        }
      }

      .btn-primary {
        margin-top: 30px;

        @media screen and (max-width: 768px) {
          margin-top: 20px;
        }
      }
    }

    .suggested-product {
      margin-top: 30px;

      h2 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $grey-4C;
        font-family: $Pretend-medium;
      }

      .smilar-product-img {
        @include flex-align-center;
        flex-wrap: wrap;
        margin: 25px -1% 0;

        @media screen and (max-width: 768px) {
          margin: 15px -5px 0;
        }

        li {
          margin: 0 1% 10px;
          width: 90px;
          img {
            height: 90px;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
