@import "./font";
@import "./resets";
@import "./variables";
@import "./mixins";
@import "./icons";
@import "./button";
@import "./form";
@import "./auth";
@import "./modal";
@import "./header";
@import "./footer";
@import "./login";
@import "./search";
@import "./main";
@import "./_my-choice";
@import "./_sample";
@import "./recomandedBlending";
@import "./_notice";
@import "./my-recipe";
@import "./material";
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: $default-font;
  margin: 0;
  padding: 0;
  height: 100%;
}
.main-body{
  min-height: 100vh;
}
#app-container {
  height: 100%;
  // background-color: $black-1;
  // color: $white-1;
  transition: all 0.2s ease-out;
  min-height: 100vh;
  &.dark-theme {
    background-color: $black-1;
    color: $white-1;
  }
  &.light-theme {
    background-color: $grey-1;
    color: $black-1;
  }
}
.container-small{
  max-width: 682px;
  width: 100%;
  margin: 0 auto;
}
.signUp-container{
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
}
.container-medium{
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 1200px){
    padding: 0 16px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.mb_100 {
  margin-bottom: 100px;
}
h1 {
  font-size: 24px;
}

button {
  border: 0px;
}
.container {
  width: 100%;
  padding: 0 24px;
}

input {
  &:focus-visible,
  &:focus,
  &:focus-within {
    outline: 0px;
    border: 0px;
  }
}

button:disabled {
  cursor: no-drop;
}

// custom check box
.custom-check {
	display: block;
	position: relative;
	padding-left: 33px;
	cursor: pointer;
	font-size: 14px !important;
  line-height: 17px !important;
  color: $grey-82 !important;
  font-weight: normal !important;
  margin: 0 !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  font-weight: normal;
  &.error{
    color: $red-3 !important;
  }
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked{
			~ {
				.checkmark {
          background-color: $white-1;
          border: 1px solid $grey-66;
					&:after {
						display: block;
            border: solid $grey-66;
            border-width: 0 2px 2px 0;
					}
				}
			}
		}
	}
	.checkmark {
		&:after {
      left: 8px;
      top: 1px;
      width: 8px;
      height: 15px;
			border: solid $white-1;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
  &.active{
    .checkmark {
      background-color: $green-68;
      border: 1px solid $green-68;
      &:after {
        display: block;
      }
    }
  }
}
.checkmark {
	position: absolute;
	top: -2px;
	left: 0;
	height: 24px;
	width: 24px;
  background-color: $white-1;
  border-radius: 0;
  border: 1px solid $grey-CF;
	&:after {
		content: "";
		position: absolute;
		display: block;
	}
}

// tolltip

.tolltip-outer{
  height: 24px;
  width: 24px;
  >div{
      margin: 0 0 0 10px !important;
      border: 0 !important;
  }
  .popper{
      left: 213px !important;
      top: -18px !important;
      @media screen and (max-width: 768px){
          left: 94px !important;
      }
      .heading-tooltip-content{
          background: $white-1;
          padding: 20px 30px 20px 55px;
          border: 1px solid $grey-E0;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          max-width: 444px;
          @media screen and (max-width: 768px){
              padding: 10px 10px 10px 30px;
              max-width: 207px;
          }
          ul{
              list-style: initial;
              li{
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  color: $grey-4C;
                  @media screen and (max-width: 768px){
                      font-size: 12px;
                      line-height: 18px;
                  }
              }
          }
      }
  }
}

// card css

.search-card-inner{
  .search-result-img{
    width: 240px;
    height: 240px;
  }
  p{
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: $black-33;
      margin-top: 20px;
  }
  .recomanded-vitamin{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $blue-E8;
    margin-top: 5px;
    @media screen and (max-width: 640px){
        font-size: 14px;
        line-height: 21px;
    }
  }
  .recomanded-quality{
    font-size: 18px;
    line-height: 22px;
    color: $grey-82;
    margin-top: 10px;
      @media screen and (max-width: 640px){
        font-size: 16px;
        line-height: 24px;
    }
  }
}

// custom radio

.custom-radio {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 62px;
  margin-bottom: 12px;
  /* Hide the browser's default radio button */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark {
      background: $white-1;
      border: 2px solid $black-18;
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: $white-1;
    border: 2px solid $grey-66;
    border-radius: 50%;
    &:after{
      content: "";
      position: absolute;
      display: none;
    }
  }
}

/* Style the indicator (dot/circle) */
.custom-radio .checkmark:after {
 	top: 3.5px;
	left: 3.5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: $black-18;
}
.pagination-wrap{
  @include flex-justify-center;
  a{
      @include flex-justify-center;
  }
  ul{
      @include flex-align-center;
      li{
          @include flex-justify-center;
         height: 24px;
         width: 24px;
         font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.02em;
          color: $black-18;
      }
  }
}