@import "./font";
@import "./resets";
@import "./variables";
@import "./mixins";
@import "./icons";
@import "./button";
@import "./form";
@import "./auth";
@import "./modal";
@import "./header";
@import "./login";

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: $default-font;
  margin: 0;
  padding: 0;
  height: 100%;
}
#app-container {
  height: 100%;
  // background-color: $black-1;
  // color: $white-1;
  transition: all 0.2s ease-out;
  min-height: 100vh;
  &.dark-theme {
    background-color: $black-1;
    color: $white-1;
  }
  &.light-theme {
    background-color: $grey-1;
    color: $black-1;
  }
}
.container-small{
  max-width: 682px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.mb_100 {
  margin-bottom: 100px;
}
h1 {
  font-size: 24px;
}

button {
  border: 0px;
}
.container {
  width: 100%;
  padding: 0 24px;
}

input {
  &:focus-visible,
  &:focus,
  &:focus-within {
    outline: 0px;
    border: 0px;
  }
}

// custom check box
.custom-check {
	display: block;
	position: relative;
	padding-left: 33px;
	cursor: pointer;
	font-size: 14px !important;
  line-height: 17px !important;
  color: $grey-82 !important;
  font-weight: normal !important;
  margin: 0 !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  font-weight: normal;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked{
			~ {
				.checkmark {
          background-color: $green-68;
          border: 1px solid $green-68;
					&:after {
						display: block;
					}
				}
			}
		}
	}
	.checkmark {
		&:after {
      left: 8px;
      top: 1px;
      width: 8px;
      height: 15px;
			border: solid $white-1;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
  &.active{
    .checkmark {
      background-color: $green-68;
      border: 1px solid $green-68;
      &:after {
        display: block;
      }
    }
  }
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 24px;
  background-color: $white-1;
  border-radius: 0;
  border: 1px solid $grey-CF;
	&:after {
		content: "";
		position: absolute;
		display: block;
	}
}